.navbar{
    background-color: #E5E5E5;
    margin-left: auto;
    margin-right: auto;
}
#main{
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, 0.3);
    height: 600px; /*mediauqery ile küçült*/
    display: flex;
    align-items: flex-end;
    padding-bottom: 50px;
    position: relative;
}
#main .container{
    display: flex;
    justify-content: space-around;
}
.button .btn{
    background-color: #F96300;
    color: white;
    box-sizing: none;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    height: 65px;
    border-radius: 0%;
    display: flex;
    align-items: center;
}
.button .btn img{
    margin-left: 12px;
}
.icons{
    flex-direction: column;
    position: absolute;
    top: 37%;
    left: 30px; 
}
.icons i{
    color: rgba(159, 159, 159, 1);
    padding: 18px;
    font-size: 20px;
}
.text{
    font-family: 'Times New Roman', Times, serif;
}
.text h2{
    word-spacing: 15px;
    font-size: 38px;
}
.text p{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.menu h2{
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 42px;
}
.menu p{
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: 
    rgba(159, 159, 159, 1);
    padding-bottom: 35px;
}
.colon1 img{
    height: 450px;
    background: rgba(0, 0, 0, 0.2);
}
.colon2 img{
    height: 450px;
    background: rgba(0, 0, 0, 0.2);
}
.colon3 img{
    height: 450px;
    background: rgba(0, 0, 0, 0.2);
}
.foods h2{
    font-size: 32px;
    color: 
    rgba(255, 255, 255, 1);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    text-align: center;
}
.colon3 .foods h2{
    color: 
    rgba(27, 26, 26, 0.726);
}
.colon3 .foods p{
    color: 
    rgba(27, 26, 26, 0.726);    
}
.foods p{
    font-size: 20px;
    color: 
    rgba(255, 255, 255, 1);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    text-align: center;
}
#fullmenu{
    padding-top: 500px;
}
.comment1 img{
    margin-top: 60px;
    width: 500px;
    height: 336px;
}
.comment1 h2 {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.comment1 p{
    display: flex;
    text-align: center;
    font-size: 15px;
    margin-right: 45px;
    font-family: 'Times New Roman', Times, serif;
}
.comment2 img{
    margin-top: 60px;
    width: 566px;
    height: 340px;
}
.comment2 h2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.comment2 p{
    display: flex;
    text-align: center;
    font-size: 15px;
    margin-left: 50px;
    margin-right: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.btn-book{
    width: 170px;
    background-color: #F96300;
    color: white;
    box-sizing: none;
    font-size: 20px;
    height: 55px;
    border-radius: 0%;
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 190px;
}
.btn-book img{
    display: flex;
    align-items: center;
    margin-left: 12px;
    width: 8px;
    margin-bottom: 60px;
}
.baslik{
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #545554;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}
.chef img{
    width: 400px;
    height: 600px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
}
.page-text{
    margin-top: 150px;
}
.page-text h1{
    font-family: 'Times New Roman', Times, serif;
}
.information{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #9F9F9F;
    font-family: 'Times New Roman', Times, serif;
}
.borderbox{
    border: 1px solid #FFEAC9;
    background: #FFEAC9;
    border-width: 100px;
    height: 300px;
    margin-top: 50px;
}
.borderbox h5{
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    font-size: 28px;
}
.borderbox p{
    margin-bottom: 90px;
}
#orders{
    margin-left: 350px;
}
#orders h5{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}
#orders p{
    font-size: 12px;
    color: #9F9F9F;
    font-family: 'Times New Roman', Times, serif;
}
.first-food{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.first-food .leftside span{
    margin-bottom: 100px;
}
.second-food{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.third-food{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.fourth-food{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.fifth-food{
    display: flex;
    justify-content: space-between;
}
.price{
    margin-right: 400px;
    margin-top: 28px;
}
.button .page4-button{
    border: #000000;
    display: flex;
    margin-top: 40px;
    margin-left: 400px !important;
}


@media only screen and (max-width: 700px) {
    #main{
        height: 400px;
    }
    .menu p{
        display: flex;
        text-align: center;
        margin-right: 100px;
        margin-left: 100px;
    }
    .icons{
        flex-direction: row; 
        display: flex;
        left: 30%;
        top: 0;
    }
    .icons i{
        font-size: 25px;
    }
    .text h2{
        font-size: 20px;
        word-spacing: 30px;
        display: flex;
        justify-content: center;
    }
    .text p{
        display: flex;
        text-align: center;
    }
    .button .btn{
        height: 40px;
        font-size: 16px;
    }
    .comment{
        padding-left: 0;
    }
    .comment .btn-book img{
        width: 8px;
    }
    .comment1 .boyut{
        width: 450px;
        margin-left: 25px;
    }
    .comment2 img{
        width: 500px;
    }
    .comment2{
        margin-right: 200px;
    }
    .comment2 .btn .btn-book{
        margin-left: 160px;
    }
    .comment2 p{
        margin-right: 0;
        margin-left: 95px;
    }
    .comment2 h2{
        margin-left: 60px;
    }  
    .chef img{
        padding-right: 100px;
        margin-top: 0;
    }
    .borderbox{
        border: 1px solid #FFEAC9;
        background: #FFEAC9;
        border-width: 30px;
        height: 50%;
        margin-top: 50px;
    }
    .borderbox h5{
        font-family: 'Times New Roman', Times, serif;
        color: #000000;
        font-size: 25px;
        display: flex;
        text-align: center;
    }
    .borderbox p{
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
        color: #000000;
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }
    .page-text h1{
        display: flex;
        justify-content: center;
        background-color: #ffffff !important;
        color: #000000 !important;
    }
  }
